.admin_search_form {
    margin-top: 42px;
}

.admin_table_div {
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #eeeeee;
    width: 965px;
}
.admin_table{
    width: 965px;
    box-shadow: 0px 4px 14px 10px rgba(170, 170, 170, 0.25);
    border-collapse: collapse;
    font-size:14px;
    border-radius: 8px;
    border-style: hidden;
}

.admin_pagination_box {
    height: 50px;
    display:flex;
    margin-top: 146px;
    width:214px;
    margin-bottom:30px;
}

.admin_pagination_box :not(:first-child){
    margin-left:16px;  
}

.admin_search_form{
    border: 1px solid #ABAAAA;
    height:36px;
    width:250px;
    font-size:12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.admin_search_form .search_input{
    margin-left: 10px;
    outline: none;
    border: none;
}
.admin_search_form .search_icon{
    margin-left: 10px;
}

.admin_web_inner_flex{
    display: flex;
    justify-content: center;
}

.admin_header_text{
    font-size: 22px;
    color: #111111;
    margin-top:25px;
    font-weight: 500;
}